/* General */
body {
    margin: 0;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 1.4;
    min-width: 100vh;
  }

  .car {
    height: 600px;
  }

  .mainContent {
    position: relative;
    height: 1000px;
    background-color: white;
  }

  a { text-decoration: none !important; }
  
  div, span, section, header, nav, footer, figure, p, h1, h2, h3, h4, h5, h6, img {
    position: relative;
    box-sizing: border-box;
  }
  
  /* Header */
  .header {
    justify-content: space-between;
    display: flex;
    position: relative;
    font-family: 'Montserrat', serif;
  }

  #headerImage {
    width: 100%;
    max-height: 100vh;
    transition: ease all .5s;
    top: 0;
    left: 0; 
  }

  h2 strong {
    font: 700 1.8rem/4.6rem 'Proxima Nova',sans-serif;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

  /* Navigation */

  .nav {
    padding: 0 5%;
    display: flex;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    z-index:9999999;
    color: black;
    background: -webkit-linear-gradient(#eee, #333);

    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, white 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1.5s 0s;
  }

  .onScrollNav {
    background-position: 0 -100% !important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;
    transition: background-position 1s 0s, box-shadow 2s .5s;
    transition-timing-function: ease-in-out;
  }

  .nav-link {
    position: relative;
    padding: 0 20px;
    text-decoration: none;
    color: inherit;
    overflow: hidden;    
    display: flex;
    transition: background-color .2s ease;
    font-weight: 400;
  }

  .nav-link--active {
    color: black;
  }

  .rightNav {
    display: flex;
    position: absolute;
    right: 0px;
    padding: 35px 10px 0px 0px;
    transition: top ease 0.5s;
  }

  .homePageTitle{
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
    color: inherit;
  }

  .homePageTitleOnScroll {
    color: black !important;
  }

  .headerDescription {
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    left: 50%;
    margin: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .button {
    background-color: #E61E4D;
    border-radius: 10px;
    text-align: center;
    width: 180px;
    height: 3.8rem;
    border: 0 none;
    z-index:9999998;
  }

  .iconStyle {
    color: #E61E4D;
    font-size: 30px;
  }
  
  /* Content */
  .flex {
    display: flex;
  }
  
  .flex .item:first-child {
    align-self: center;
  }

  .descriptionUnderHeader{
    padding: 5em 0em 5em 0em;
    text-align: center;
    background-color: inherit;
  }

  .grid4x2 {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .card1 {
    grid-column: 1;
    grid-row: 1;
    padding: 0em 0em 2em 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .card2 {
    grid-column: 2;
    grid-row: 1;
    padding: 0em 2em 2em 0em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

  }

  .videoSection {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .card3 {
    grid-column: 1;
    grid-row: 2;
    padding: 0em 0em 2em 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

  }

  .card4 {
    grid-column: 2;
    grid-row: 2;
    padding: 0em 2em 2em 0em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

  }
  
  /* Typography & Images */
  p {
    margin: 20px 0;
  }
  
  img {
    max-width: 100%;
  }
  
  /* Footer */
  .footer {
    padding: 40px 40px;
    font-size: 14px;
    text-align: center;
    color: #bebebe;
    background: white;
  }
  
  .footer p {
    margin: 0;
  }

  /* Material Button Design */

  .btn {
    position: relative;
  
    display: block;
    padding: 0;

    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #E61E4D;
    color: #ecf0f1;
    
    z-index:9999998;
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: rgb(248, 2, 60);
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

  .buttonText {
    padding: 0px 30px 0px 30px;
    letter-spacing: .2rem;
    color: white !important;
    font-size: 16px;
    font-family: 'Montserrat', serif;
  }

  /* Smaller Screen Adjustments */

  @media screen and (max-width: 600px) {
    .card1 {
      grid-column: 1 / 3;
      grid-row: 1;
      padding: 0em 1em 1em 2em;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  
    .card2 {
      grid-column: 3/5;
      grid-row: 1;
      padding: 0em ​2em 1em 1em;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  
    }

    .videoSection {
      grid-column: 1 / 5;
      grid-row: 2;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    .card3 {
      grid-column: 1/3;
      grid-row: 3;
      padding: 2em 1em 2em 2em;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  
    }
  
    .card4 {
      grid-column: 3/5;
      grid-row: 3;
      padding: 2em 2em 2em 1em;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  
    }
  }
  