/* General */
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    /* background-image: linear-gradient(#eeeded, white 40%); */
  }

  .mainContent {
    position: relative;
    height: 1000px;
  }

  a { text-decoration: none !important; }
  
  div, span, section, header, nav, footer, figure, p, h1, h2, h3, h4, h5, h6, img {
    position: relative;
    box-sizing: border-box;
  }
  
  /* Header */
  .header {
    justify-content: space-between;
    display: flex;
    position: relative;
  }

  .headerImage {
    width: 100%;
    /* height: 100%; */
    /* position: absolute; */
    top: 0;
    left: 0;
  }

  h2 strong {
    font: 700 1.8rem/4.6rem 'Proxima Nova',sans-serif;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

  /* Navigation */
  .nav {
    padding: 0 5%;
    display: flex;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    z-index:9999999;
    /* background: white; FF3.6+ */
    /* border:2px solid #fff; */
      /* box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 0px 3px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc; */
  }

  .headerDescription {
    position: absolute;
    left: 1rem;
    top: 11rem;
    color: white;
    padding-left: 5%;
  }

  .button {
    background-color: #E61E4D;
    border-radius: 10px;
    text-align: center;
    width: 180px;
    height: 3.8rem;
    border: 0 none;
    z-index:9999998;
  }

  .iconStyle {
    color: #E61E4D;
    font-size: 30px;
  }

  .homePageTitle{
    font-family: sans-serif;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
    color: white;
  }
  
  .nav-link {
    padding: 0 20px;
    text-decoration: none;
    color: white;
    display: flex;
    transition: background-color .2s ease;
    font-family: sans-serif;
    font-weight: 400;
  }

  #rightNav {
    display: flex;
    position: absolute;
    right: 0px;
    padding: 35px 10px 0px 0px;
  }
  
  .nav-link--active {
    color: black;
  }
  
  /* Content */
  .flex {
    display: flex;
    /* align-items: flex-start; */
  }
  
  .flex .item:first-child {
    align-self: center;
  }

  .descriptionUnderHeader{
    /* display: block; */
    /* top: 55em; */
    padding: 5em 0em 5em 0em;
    text-align: center;
  }

  .videoSection {
    position: relative;
    left: 50%;
  }

  .grid2x2 {
    /* min-height: 100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5em 0em 0em 5em;
    width: 50%;
    /* top: 50em; */
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
    padding: 1em 1em 0em 0em;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  /* Typography & Images */
  p {
    margin: 20px 0;
  }
  
  img {
    max-width: 100%;
  }
  
  /* Footer */
  .footer {
    padding: 40px 40px;
    font-size: 14px;
    text-align: center;
    color: #bebebe;
    background: white;
  }
  
  .footer p {
    margin: 0;
  }

  /* Material Button Design */

  .btn {
    position: relative;
  
    display: block;
    padding: 0;

    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #E61E4D;
    color: #ecf0f1;
    
    z-index:9999998;
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: rgb(248, 2, 60);
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

  .buttonText {
    padding: 0px 30px 0px 30px;
    letter-spacing: .2rem;
    color: white !important;
    font-size: 16px;
  }
  